
.hg{
  margin-left: 50%;
}



.bt {
	box-shadow:inset 0px 1px 0px 0px #41acbf;
	background:linear-gradient(to bottom, #16f7e8 5%, #135fbd 100%);
	background-color:#16f7e8;
	border-radius:6px;
	border:1px solid #299cab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0bcfc5;
}
.bt:hover {
	background:linear-gradient(to bottom, #135fbd 5%, #16f7e8 100%);
	background-color:#135fbd;
}
.bt:active {
	position:relative;
	top:1px;
}
body{
  text-align: center;
  margin:0;
  padding: 0px;
}